
    BODY {background: #FFFFFF}
    A:link {color: #80FF00}
    A:visited {color: #FF00FF}
    note:before {color:red; font-size:75% ;content: attr(n)}
    taisho:before {color:green; font-size:75% ;content: attr(n)}
    pb:before {color:green; font-size:120% ;content: "\a--------" attr(n) ; white-space:pre}
    pb:after {color:green; font-size:120% ;content: "--------\a" ; white-space:pre}
    ndef:before {color:brown; content: "\a" attr(n) ; white-space:pre}
     
    JIN {color:blue;font-size:48pt}
    LUAN {color:brown;font-size:48pt}
    
    kai {font-family: DFKai-sb}
    b {font-weight:700;}

    NOTE {white-space: pre}
    H1 {font-size: 24pt; font-family: "標楷體";font-weight:bold}
    H2 {font-size: 18pt; font-family: "標楷體";font-weight:bold}
    H3 {font-size: 14pt; font-family: "標楷體";font-weight:bold}
    H4 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H5 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H6 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H7 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H8 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H9 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H10 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H11 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H12 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
    H13 {font-size: 12pt; font-family: "標楷體";font-weight:bold}
   
    H1:before {content: "\aH1 "; white-space: pre }
    H1:after {content: "\a"; white-space: pre }
    H2:after {content: "\a"; white-space: pre }
    H2:before {content: "\aH2 "; white-space: pre }
    H3:after {content: "\a"; white-space: pre }
    H3:before {content: "\aH3 "; white-space: pre }
    H4:after {content: "\a"; white-space: pre }
    H4:before {content: "\aH4 "; white-space: pre }
    H5:after {content: "\a"; white-space: pre }
    H5:before {content: "\aH5 "; white-space: pre }
    H6:after {content: "\a"; white-space: pre }
    H6:before {content: "\aH6 "; white-space: pre }
    H7:after {content: "\a"; white-space: pre }
    H7:before {content: "\aH7 "; white-space: pre }
    H8:after {content: "\a"; white-space: pre }
    H8:before {content: "\aH8 "; white-space: pre }
    H9:after {content: "\a"; white-space: pre }
    H9:before {content: "\aH9 "; white-space: pre }
    H10:after {content: "\a"; white-space: pre }
    H10:before {content: "\aH10 "; white-space: pre }
    H11:after {content: "\a"; white-space: pre }
    H11:before {content: "\aH11 "; white-space: pre }
    H12:after {content: "\a"; white-space: pre }
    H12:before {content: "\aH12 "; white-space: pre }
    H13:after {content: "\a"; white-space: pre }
    H13:before {content: "\aH13 "; white-space: pre }
    